**Exercício 1 - Aquecimento de Python para Ciência de Dados**

1. Imprima "Hello, World!" no console.

In [ ]:
print("Hello World")

Hello World

2. Crie uma variável x com valor 10 e imprima seu valor.

In [1]:
x = 10
print(x)

10

3. Some dois números e exiba o resultado.

In [2]:
numero1 = 5
numero2 = 4
resultado = numero1 + numero2
print(resultado)

9

4. Verifique se um número é par ou ímpar.

In [3]:
numero = 42

if numero % 2 == 0:
    print("Par")
else:
    print("Ímpar")

Par

5. Crie uma função que receba dois números e retorne a soma deles.

In [4]:
def somar(a, b):
    return a + b

# Exemplo de uso
resultado = somar(10, 5)
print(resultado)

15

6. Crie uma lista com os números de 1 a 5 e imprima-a.

In [5]:
numeros = [1, 2, 3, 4, 5]
print(numeros)

[1, 2, 3, 4, 5]

7. Adicione o número 6 à lista criada na questão anterior.

In [ ]:
numeros = [1, 2, 3, 4, 5]
numeros.append(6)
print(numeros)

<class 'list'>

8. Remova o número 3 da lista.

In [ ]:
numeros = [1, 2, 3, 4, 5, 6]
numeros.remove(3)
print(numeros)

[1, 4, 5, 6, [10, 11, 12, 13, 14, 15], {'nome': 'joao'}, [{'nome_verdura': 'tomate'}, {'nome_verdura': 'cebola'}, {'nome_verdura': 'pepino'}], [{'nome_verdura': 'tomate'}, {'nome_verdura': 'cebola'}, {'nome_verdura': 'pepino'}]]

9. Acesse o terceiro elemento da lista.

In [ ]:
numeros = [1, 2, 4, 5, 6]
terceiro_numero = numeros[2]
print(terceiro_numero)

cebola

10. Imprima o tamanho da lista.

In [ ]:
print(len(lista))
print(len('teste'))
print(len(lista[5]))

8
5
1

11. Crie um dicionário com informações de um carro (marca, modelo, ano).

In [ ]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2021
}
print(carro)

{'marca': 'Nissan', 'modelo': 'teste', 'ano': '2012'}

12. Acesse o valor associado à chave "marca" no dicionário.

In [ ]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2021
}
marca = carro["marca"]
print(marca)

Nissan

13. Adicione uma nova chave "cor" com valor "preto" ao dicionário.

In [ ]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2021
}

carro["cor"] = "preto"
print(carro)

{'marca': 'Nissan', 'modelo': 'teste', 'ano': '2012', 'cor': 'preto'}

14. Verifique se a chave "modelo" existe no dicionário.

In [ ]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2021,
    "cor": "preto"
}

if "modelo" in carro:
    print("Chave 'modelo' encontrada!")
else:
    print("Chave 'modelo' não encontrada!")

Existe

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [ ]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2021,
    "cor": "preto"
}

for chave in carro:
    print(chave)

marca
modelo
ano
cor

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [ ]:
carro = {
    "marca": "Toyota",
    "modelo": "Corolla",
    "ano": 2021,
    "cor": "preto"
}

for chave in carro:
    print(chave)

<class 'dict_values'>
Nissan
teste
2012
preto

17. Crie uma função que receba uma lista e retorne a soma dos elementos.

In [ ]:
def somaelementos(lista):
  return sum(lista)

print(somaelementos([1,2,3,4,5]))

15

18. Crie uma função que receba um dicionário e retorne todas as suas chaves.

In [ ]:
def retornachaves(dicionario):
  return dicionario.keys()

print(retornachaves(carro))

dict_keys(['marca', 'modelo', 'ano', 'cor'])


19. Crie uma função que receba um dicionário e imprima chave e valor em linhas separadas.

In [ ]:
def retorna_chave_valor(dicionario):
  for chave, valor in dicionario.items():
    print(f"Chave: {chave},\n Valor: {valor}")

retorna_chave_valor(carro)

Chave: marca,
 Valor: Nissan
Chave: modelo,
 Valor: teste
Chave: ano,
 Valor: 2012
Chave: cor,
 Valor: preto

20. Crie uma classe chamada Pessoa com atributos nome e idade, e um método que imprima esses dados.

In [ ]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade

    def exibir_dados(self):
        print(f"Nome: {self.nome}, Idade: {self.idade}")

pessoa = Pessoa("João", 25)
pessoa.exibir_dados()

Nome: João, Idade: 25